.ll-header {
    height: 100px;
    background-color: #ffeecc;

    .ll-logo {
        float: left;
        width: 100px;
        margin-left: 20px;
    }

    .ll-menu {
        line-height: 4;

        .ll-items {
            color: black;
            text-decoration: none;
            font-size: 25px;
            margin: 0 10px 0 10px;
        }
    }

}