
.ll-postDetail-page {
    width: 766px;
    margin: auto;
    
    height: 100%;

    .ll-postDetail-container {
        border : 1px solid black;
        height: 100%;

        .ll-imageBox {
            height: 30%;
        
        }

    }

    


}